/*
 * Soubor: about.css
 * Popis: Stylovy predpis pro sekci About webove stranky.
 * Datum: 2021-03-31
 * Autor: David Chocholaty <xchoch09@stud.fit.vutbr.cz>
 * Verze: 1.0
 * Projekt: Projekt 2, predmet ITW
 */

/*
 * Nastaveni sekce about na flex.
 */  
.about {               
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   justify-content: center;
   font-size: 1.1rem;            
   padding: 16vh 6vw;        
   background-color: #fff;        
} 

.about > * {
    padding: 20px 0;
}

/*
 * Nastaveni efektu stinu a zaobleni rohu obrazku.
 */
.about img {
   box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
               0 6.7px 5.3px rgba(0, 0, 0, 0.048),
               0 12.5px 10px rgba(0, 0, 0, 0.06),
               0 22.3px 17.9px rgba(0, 0, 0, 0.072),
               0 41.8px 33.4px rgba(0, 0, 0, 0.086),
               0 100px 80px rgba(0, 0, 0, 0.12);
   border-radius: 2.5px;
}

.about h2 {
    font-size: 1.8rem;    
    padding: 25px 0;    
}  

.about img, .about p{  
    width: 100%;
}

.about p:last-child {
    padding-top: 2rem;
}

#about-fst-col {
    animation-duration: 1.5s;    
}

/*
 * Zarovnani nadpisu a odstavce pod sebe
 * pro mobilni zarizeni.
 */
#about-sec-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;    
    animation-duration: 3s;    
}

/*----------------- About pro desktop ----------------*/

@media all and (min-width: 1140px) {    
    /*
     * Zarovnani nadpisu na stejnou uroven jako odstavec.
     */
    #about-sec-col {
        align-items: flex-start;
    }

    /*
     * Zmena sirky okraju pro desktop.
     */
    .about {
        padding-left: 16vw;     
        padding-right: 16vw;     
    }

    /*
     * Zarovnani na dva sloupce.
     */
    .about .column {
        flex-direction: column;
        flex-basis: 100%;        
        flex: 1;     
        padding: 0 2vw;   
    }        
}

/*------------- Konec souboru about.css -------------*/
